
<h1>Headlines<h1>
<br> 


<% @articles.each do |article| %>
    <div class="boxes">
    <h2><%= link_to "#{article.title}", article_path(article), class: "my-link"%></h2>
      <p><%= article.content %></p>
    </div>
  <% end %>
 
